<!DOCTYPE html>
<script
  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
  crossorigin="anonymous"
></script>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous"
/>
<body>
  <br /><br />
  <div class="row">
    <div class="col-4">
      <div class="card ">
        <div class="card-header text-white bg-primary">
          โรงที่ 1
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <h1>Topic 1</h1>
            <div>
              <h2>
                temp:
                <strong style="font-size: 100px" id="temperature"> 25</strong> </span
                ><span> Celsius</span>
              </h2>
            </div>
            <div>
              <h2>
                hum:
                <strong style="font-size: 100px;"id="humidity"> 25</strong><span> humidity</span>
              </h2>
            </div>
            <a href="/logout" class="btn btn-secondary" onclick="sessionStorage.clear()">Logout</a>
          
            <!-- <div>
              <label for=" labelFor">อุณหภูมิ</label>
              <input
                type="number"
                pattern="\d*"
                id="input1"
                class="form-control"
                value="25"
                onchange="chang()"
                max="30"
              />
              <label for=" labelFor">ความชื้น</label>
              <input
                type="number"
                id="input2"
                class="form-control"
                value="25"
                max="30"
                onchange="chang2()"
              />

              <div>คำเตือน temp ต้องไม่เกิด 30 องศา</div>
              <button
                class="form-control btn btn-success"
                onclick="publiced_add()"
              >
                Send Public
              </button>
            </div> -->
            <footer class="blockquote-footer">
              <!-- <button onclick="show()"></button> -->
              <p id="messages"></p>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="col-4">a</div>

    <div class="col-4">a</div>
  </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>

  <script>
     
     if (
      sessionStorage.getItem("token") &&
      sessionStorage.getItem("pri") != 1
    ) {
    window.location.href = 'http://localhost:3000/834049beb19a82b97082598f16bd1057d94121ce942352bc9c3320f5d9ec8e16'
    }
    var socket = io();
    $(() => {
      socket.emit("message", " ");//showdata

      socket.on("topic2", mes => {
        const data = JSON.parse(mes);
        const temp = data.TEMP;
        const hum = data.HUMIDI;
        $("#temperature").text(temp);
        $("#humidity").text(hum);
        $("#messages").text(mes);
      });
    });
  
  </script>
</body>